.loginForm {
  width: 100%;
  min-height: 200px;
}

.title {
  text-align: center;
  font-size: 22px;
  margin-bottom: 0;
  font-weight: 600;
}

.label {
  display: block;
  margin-top: 20px;
  font-size: 14px;
  font-weight: 500;
  &:nth-child(2) {
    margin-top: 25px;
  }
}

.file {
  margin-top: 20px;
  font-size: 14px;
}

.classes {
  height: 40px;
  width: 100%;
  padding: 0 20px;
  font-size: 12px;
  text-align: left;
  appearance: none;
  background: #fff;
  border: 1px solid #e2e2e2;
  color: #353535;
  border-radius: 10px;
  cursor: pointer;
  &:focus {
    outline: 1px solid var(--main-color);
  }
}

.btn {
  margin-top: 30px;
}

.error {
  color: #e53e3e;
  margin-top: 5px;
  font-size: 12px;
}
