{
  "trailingComma": "none",
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "jsxSingleQuote": false,
  "arrowParens": "always",
  "endOfLine": "auto",
  "bracketSpacing": true,
  "printWidth": 100
}
